body {
  text-align: center;
  align-self: center;
  margin-top: 15%;
}

h1 {
  font-size: 3rem;
}

#player1score {
  color: black;
}

#player2score {
  color: black;
}

.scores {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
}

#scoreForm {
  margin-top: 20px;
}

#buttons {
  margin-top: 15px;
}

#btnOne {
  background-color: grey;
}
#btnTwo {
  background-color: grey;
}

#btnReset {
  background-color: red;
  color: white;
}
